.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.content-wrapper {
  width: 100%;
  max-width: 600px; /* ajusta esto según tus necesidades */
  background-color: white;
  border-radius: 8px;
  box-shadow:0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 500px;
}

.auth-container {
  display: flex;
  flex-direction: column; /* siempre en una columna */
}